#conteiner {
    display: block;
    margin: 0 auto;
    width: 1180px;
}

img {
    width: 800px;
    display: block;
    margin: 0 auto;
}

.blockquote {
    border-left: red 5px solid;
    margin: 15px;
    padding-left: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    font-style: italic;
    line-height: 30px;
}

h1 {
    color: red;
    text-align: center;
    padding-left: 40px;
    margin-bottom: 15px;
    font-size: 40px;
}

h2 {
    font-size: 28px;
}

#footer {
    font-size: 22px;
    width: 1180px;
    margin-top: 15px;
    text-align: center;
}

.rootStart {
    width: 1180px;
    display: inline-block;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0 20px;
}

.root {
    width: 680px;
    display: inline-block;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0 20px;
}

#name {
    font-size: 18px;
    padding: 5px;
    display: block;
    margin: 15px auto;
    width: 236px;
}

button {
    display: block;
    padding: 10px;
    margin: 0px auto;
    margin-bottom: 15px;
    font-size: 20px;
    color: darkblue;
    background-color: lightyellow;
    width: 250px;
}

#right {
    display: inline-block;
    vertical-align: top;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    width: 450px;
}

.red,
.black {
    color: white;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 120px;
    height: 120px;
    display: inline-block;
    padding: 5px;
    border: 1px solid white;
}

.red {
    background-color: red;
}

.black {
    background-color: black;
}