h1 {
    color: blue;
    margin: 0px auto;
    margin-bottom: 15px;
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

#footer {
    font-size: 22px;
    width: 900px;
    margin-top: 15px;
}

#root {
    width: 680px;
    display: inline-block;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0 20px;
}

#name {
    font-size: 18px;
    padding: 5px;
    display: block;
    margin: 15px auto;
    width: 236px;
}

#buttonStart {
    display: block;
    padding: 10px;
    margin: 0px auto;
    margin-bottom: 15px;
    font-size: 20px;
    color: darkblue;
    background-color: lightyellow;
    width: 250px;
}

#right {
    display: inline-block;
    vertical-align: top;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    width: 500px;
}

.red,
.black {
    color: white;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 120px;
    height: 120px;
    display: inline-block;
    padding: 5px;
    border: 1px solid white;
}

.red {
    background-color: red;
}

.black {
    background-color: black;
}